torch
torchvision
matplotlib
numpy==1.23.5
opencv-python 
imageio
imageio-ffmpeg
pyyaml
tqdm
argparse
cython
scikit-image 
scipy
onnxruntime
gradio
onnx
tensorflow==2.11.*
scikit-learn
shapely
asgiref
gunicorn
Flask
pydub
requests
python-dotenv
Flask-Cors
pandas
scikit-learn
asyncio
docx
unoconv
argparse
uuid
python-docx
docx2pdf
aiofiles
Cython
imutils
uno
base